.projects-card {
  border: 1px solid $color-border-card;
  border-radius: 16px;
  padding: 32px 42px;
  transition: $trans-default;

  @include vp-767 {
    padding: 22px 32px;
  }

  &:hover {
    transform: scale(1.03);
  }
}

.projects-card__title {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 16px;
}

.projects-card__img {
  img {
    display: block;
    margin: 32px 0;
    border-radius: 8px;
    width: 100%;
    height: auto;
  }
}

.projects-card__link {
  width: 50%;
  transition: $trans-default;

  &:hover {
    box-shadow: 0 0 5px 1px $color-main-second;
  }
}
