.projects .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects__title {
  font-size: 20px;
  line-height: 36px;
  color: $color-main-second;
  background-color: $color-bg;
  border-radius: 16px;
  margin: 0;
  margin-bottom: 28px;
  padding: 5px 9px 5px 36px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 9px;
    width: 20px;
    height: 20px;
    background: url('../../img/stack/icon-projects.svg') no-repeat;
  }
}

.projects__subtitle {
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  margin: 0;
  margin-bottom: 100px;
}

.projects__list {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 55px;
  grid-template-columns: repeat(3, auto);
}
