mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Обо мне"
      },
      {
        href: "#",
        text: "Навыки"
      },
      {
        href: "#",
        text: "Проекты"
      },
    ]

  header.header(class=headerMods, data-header)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon("logo", 58, 44)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo", 178, 38)
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-burger)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
